<html>
<head>
    <script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      title:{
        text: "A Multi-series Column Chart"

      },
      data: [{
        type: "column",
        dataPoints: 
            @Html.Raw(ViewBag.DataPoints),
        
      },
      {
        type: "column",
        dataPoints: 
            @Html.Raw(ViewBag.DataPoints2),
        
      }
      ]
    });

    chart.render();
  }
    </script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
    <div id="chartContainer" style="height: 300px; width: 100%;">
    </div>
</body>
</html>
